Flask
llama-index
sentence-transformers
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-readers-json
llama-index-vector-stores-milvus
pymilvus
accelerate
bitsandbytes
llama-index-llms-groq
FlagEmbedding
peft
datasets
transformers
loralib
einops
huggingface_hub
